body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100vw;
    background-color: #f2f2f2;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
  }

  #icono {
    width: auto;
    height: 100px;
  }

  header > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin-left: 20px;
  }

  header > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
  main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  h1 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
    padding: 10px;
  }

  section {
    margin-top: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }

  label {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }